name: CI - Jedi Back

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: [self-hosted, back-jedi-runner]

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Debug Docker/compose no runner
        run: |
          docker --version
          docker compose version

      - name: Criar arquivo .env a partir dos secrets
        run: |
          echo "POSTGRES_USER=${{ secrets.POSTGRES_USER }}" >> .env
          echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env
          echo "POSTGRES_DB=${{ secrets.POSTGRES_DB }}" >> .env
          echo "APP_BASE_URL=${{ secrets.APP_BASE_URL }}" >> .env
          echo "APP_REGISTER_URL=${{ secrets.APP_REGISTER_URL }}" >> .env
          echo "MAIL_HOST=${{ secrets.MAIL_HOST }}" >> .env
          echo "MAIL_PORT=${{ secrets.MAIL_PORT }}" >> .env
          echo "MAIL_USERNAME=${{ secrets.MAIL_USERNAME }}" >> .env
          echo "MAIL_PASSWORD=${{ secrets.MAIL_PASSWORD }}" >> .env
          echo "APP_NAME=${{ secrets.APP_NAME }}" >> .env
          echo "SERVER_PORT=${{ secrets.SERVER_PORT }}" >> .env
          echo "STORAGE_PATH=${{ secrets.STORAGE_PATH }}" >> .env
          echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" >> .env
          echo "HOME=${{ secrets.HOME }}" >> .env
      - name: Excluindo containers órfãos e rebuild
        run: |
          docker compose -f docker-compose.yml down --rmi all --volumes --remove-orphans
          docker compose -f docker-compose.yml build --no-cache
      - name: Verificar configuração do docker-compose
        run: docker compose -f docker-compose.yml config
      - name: Build dos containers
        run: docker compose -f docker-compose.yml build
      - name: Subir os containers
        run: docker compose -f docker-compose.yml up -d

